*{padding:0;margin:0;}
	a{text-decoration:none; color:red;}
	b{color:red;}
	address{color:#888;}
	tr td {color:red;}
	tr th {color:red;}
	h2{color:black; padding-left:10px;}
	h3{color:red; padding-left:10px;}
	.item_icon tr td, .item_icon th {
		padding: 0px;
	}
/*.right tr td, .right b {padding-left:50px;}*/
	body{background:#2d271b;}
	.listtv {
		background:#dcd4c6;padding:0px;width:100%;
	}
	.listtv tr td, .listtv tr td a{
		padding:10px;
		color:black;
		text-align:center;
	}
	.listtv tr th{color:black; padding-left: 5px;}
	.listtv input {
		padding: 5px;
	}
	.listsp {
		width:100%;
		background:#dcd4c6;padding:0px;
	}
	.listsp tr td, .listsp tr td a{
		padding:5px;
		padding-left:10px;
		color:black;
		border-right:black 2px solid;
	}
	.listsp input {
		padding: 10px;
	}
	.listsp th{color:black;border-top:black 2px solid;}
	
	.lienhe {
		width:100%;
		background:#dcd4c6;padding:0px;
	}
	.lienhe tr td, .lienhe tr td a{
		padding:5px;
		color:black;
		padding-left:55px;
		font-weight:bold;
	}
	.lienhe th{color:red;font-weight:bold;}

.dangnhap tr td{color:black;}
.cart {
	width:100%;
	background:#dcd4c6;padding:0px;
	border: black 1px solid;
}
.cart td, .cart th{
	border: #f1f1f1 1px solid;
}
.cart2 {
	width:100%;
	background:#f1f1f1;
	padding:0px;
	border: #f1f1f1 1px solid;
}
.cart2 td, .cart2 th{
	border: #dcd4c6 1px solid;
}
#container
{
	width:1000px;
	background:#9a907eb8;
	margin:auto;
	border:#888 2px solid;
}
.header
{
	width:100%;
	height:250px;
	background:url('../images/banner2.jpg') no-repeat;
}

.headmenu
{
	background:#000000cf;
	width:900px;
	height:30px;
	line-height:30px;
	position:relative;
	padding-left:100px;
}

.headmenu ul, .listbar ul
{
	position:absolute;
	margin:0;
}
.headmenu ul li, .listbar ul li
{
	display:block;
	float:left;
	width:150px;
	text-align:center;
}
.headmenu ul li ul, .listbar ul li ul
{
	display:none;
	width:150px;
	margin:0;
	padding:0 0 5px;
	border: 1px solid black;
}
.headmenu ul li:hover ul, .listbar ul li:hover ul
{
	display:block;
	background:#000000e0;
}
.headmenu ul li li, .listbar ul li li 
{
	margin-top:5px;
	margin-left:0px;
	padding:0 5px;
	background:#000000e0;
	width:140px;
}
 ul li li:hover {background:#888;}
 ul li li:hover a {color:#111;}
.contein
{
	width:100%;
	background:#dcd4c6;
}
.contein2
{
	text-align: center;
}
.contein2 table
{
	margin-left: 25%;
}
.left
{
	width:22%;
	border:1px solid #888;
	border-radius:10px;
	padding:0 0 0 10px;
	float:left;
	margin-left:5px;
}
.right
{
	width:76%;
	/*background:#888;*/
	border:1px solid #888;
	border-radius:10px;
	float:left;
	margin-left:5px;
}
.phantrang
{
	float: right;
	margin-right:20px;
	color:black;
}
.phantrang a{color:black;}
.right div
{
	width:255px;
	height:350px;
	background:#f1f1f1;
	margin-left:80px;
	margin-right:20px;
	margin-top:10px;
	margin-bottom:10px;
	float:left;
	border: #888 1px solid;
	text-align: center;
}
.item
{
	width:100%;
	height:480px;
	margin-top:15px;
	margin-bottom:15px;
}
.icon_item
{
	margin: 15px 60px;
	
}
.listbar
{
	width:90%;
	clear:both;
	height:30px;
	line-height:30px;
	padding-left:100px;
	position:relative;
	padding-top:10px;
	border-top:1px solid #888;
}
.footer
{
	width:100%;
	text-align:center;
	padding-top:20px;
	padding-bottom:20px;
}

.admin{
	width: 100%;
	margin: auto;
	background: #d68915;

}
.left-admin {
	width: 23%;
	height:1000px ;
	background: #bf9066;
	font-weight: bold;
	border: #888 1px solid;
	border-top-left-radius: 10px;
	padding: 10px;
	float: left;
}
.left-admin ul li{
	border: black 1px solid;
	padding: 20px 20px;
	background: #f1f1f1;
	border-radius: 5px;
	margin: 15px 0px;
}
.left-admin a{
	color: #c35e04;
}
	.left-admin table tr th{
		padding: 0px 30px;
		border-right: #888 1px solid;
	}
	.left-admin table tr td{
		padding-right: 20px;
		border-right: #888 1px solid;
	}
.left-admin h1{
	margin: 0px;
	padding: 0px;
	color: white;
}
.left-admin ul li:hover {
	background: #888;
}
.right-admin{
	width:50%;
	text-align: center;
	
	border: #888 1px solid;
	font-weight: bold;
	float: left;
	padding: 50px 100px;
}
#admin {
	width: 1500px;
	background: #ccc0ae;
}